.simple-appointment-card {
    display: flex;
    align-items: center;
    padding: 1rem 1.3rem;
    background-color: lightgray;
    border-radius: 28px;
    margin-bottom: 1rem;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.05);
  }
  
  .card-left {
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.75rem;
  }
  
  .card-icon {
    font-size: 1.5rem;
  }

  .card-text{
    width: 100%;
  }
  
  .card-text h4 {
    margin: 0;
    color: var(--primary-color);
    font-weight: 600;
  }
  
  .card-text p {
    margin: 0;
  }

  .card-heading-appointment-card{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (max-width: 480px) {
    .simple-appointment-card{
      flex: none !important;
    }
  }
  